:root {
  --mainBtnColor: #397189;
  --hoverBtnColor: #2B5769;
  --fieldColorText: #6A6C72;
  --baceSize: 8px; 
}
body {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #f6f6f6;
  line-height: 1.2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
span {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.ag-root-wrapper {
  border-radius: 3px !important;
}
.MuiPaper-root.MuiPaper-elevation.MuiAlert-root {
  gap: var(--baceSize)
}
.MuiPaper-root.MuiPaper-elevation > div.MuiAlert-standard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
  margin: 0;
}